<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="Main" connectionString="NN0F6c8MNFFM5UtRpIw+BhRnG2tclNi1Lx0liZugfm4ZoaF0yg3TukZ8RNPaK6sOpEjh1kDqZraBQ+ZHKAJ+z+MoRTjGuejIfzSJP85ARGghJfZtEanuiXZ0z1AvsngEehZzIoOv/+yuHnXERnlV6xqivbdkippxUdNwbvj+WKDI12PvcYxO2/1Shl77HNQ7" providerName="System.Data.SqlClient"  />
    <!--<add name="Main" connectionString="Server=OT4DB5581\MCH;Database=SMGeneral;User Id=SMSpace;Password=Asdh1h9875ja@6ai17^;" providerName="System.Data.SqlClient" />-->
    <add name="GeoTest" connectionString="NN0F6c8MNFFM5UtRpIw+BhRnG2tclNi1Lx0liZugfm4ZoaF0yg3TukZ8RNPaK6sOpEjh1kDqZraBQ+ZHKAJ+zzxO+tiPVaUkYR3Q8JU23Q/AwByuQaSgQExlDLRB18rjKNEOQ2nXSSH2rHyOCqLNCmBtE2F4JAkAFWwIsykI2vSwywZa76RIVSD09++OkJYC" providerName="System.Data.SqlClient"  />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />

  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="SMGeoServ.svc" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
